<a href="https://colab.research.google.com/github/FelipeVillegasH/Sales_Prediction_Ecuador_Food_Company/blob/main/Prediccion_ventas_Ol%C3%A92022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Predicciones En ventas Ole

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Olé/Clasificación Ventas por Cliente /Ventas_36_meses (1).xlsx')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Account,Type,Date,Num,Name,Item,Code,Item Description,Memo,Qty,U/M,Debit,Credit,Balance
0,NaN,41 · VENTAS,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4100001 · ING - Ventas Salsas,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,3524,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110213 (AJÍ ANDINO A LAS FINAS HIERBAS 250G),110213,AJÍ ANDINO A LAS FINAS HIERBAS 250G,AJI GOURMET 250cc,1.0,[X 12],NaN,19.92,19.92
3,NaN,NaN,NaN,NaN,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,3524,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110700 (CHIMICHURRI OLE 230G),110700,CHIMICHURRI OLE 230G,CHIMICHURRI 230g,1.0,[X 12],NaN,24.96,44.88
4,NaN,NaN,NaN,NaN,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,3524,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110714 (SALSA PARA SPAGHETTI RUSTICA OLE 4...,110714,SALSA PARA SPAGHETTI RUSTICA OLE 450G,SALSA SPAGHETTI RÚSTICA 450g,1.0,[X 12],NaN,32.76,77.64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67209 entries, 0 to 67208
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1 non-null      object
 1   Unnamed: 1        8 non-null      object
 2   Unnamed: 2        28 non-null     object
 3   Unnamed: 3        0 non-null      float64
 4   Account           67172 non-null  object
 5   Type              67172 non-null  object
 6   Date              67172 non-null  datetime64[ns]
 7   Num               67172 non-null  object
 8   Name              67115 non-null  object
 9   Item              66261 non-null  object
 10  Code              66096 non-null  object
 11  Item Description  66096 non-null  object
 12  Memo              67163 non-null  object
 13  Qty               66261 non-null  float64
 14  U/M               55196 non-null  object
 15  Debit             14711 non-null  float64
 16  Credit            52499 non-null  float64
 17  Balance           67191 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(12)
memory usage: 9.2+ MB

In [ ]:
df.isnull().sum()

Unnamed: 0          67208
Unnamed: 1          67201
Unnamed: 2          67181
Unnamed: 3          67209
Account                37
Type                   37
Date                   37
Num                    37
Name                   94
Item                  948
Code                 1113
Item Description     1113
Memo                   46
Qty                   948
U/M                 12013
Debit               52498
Credit              14710
Balance                18
dtype: int64

In [ ]:
df['Unnamed: 0'].value_counts()

TOTAL    1
Name: Unnamed: 0, dtype: int64

In [ ]:
df['Unnamed: 1'].value_counts()

41 · VENTAS                            1
Total 41 · VENTAS                      1
42 · DEVOLUCIONES                      1
Total 42 · DEVOLUCIONES                1
43 · DESCUENTOS Y PROMOCIONES          1
Total 43 · DESCUENTOS Y PROMOCIONES    1
44 · OTROS INGRESOS                    1
Total 44 · OTROS INGRESOS              1
Name: Unnamed: 1, dtype: int64

In [ ]:
df['Unnamed: 2'].value_counts()

4100001 · ING - Ventas  Salsas                  1
Total 4100001 · ING - Ventas  Salsas            1
4400006 · NOP - Cadena De Valor                 1
Total 4400005 · NOP - Recup. Reciclaje          1
4400005 · NOP - Recup. Reciclaje                1
Total 4400004 · NOP - Otros Ingresos            1
4400004 · NOP - Otros Ingresos                  1
Total 4400001 · NOP -  Servicio de Logistica    1
4400001 · NOP -  Servicio de Logistica          1
Total 4400000 · NOP - Pronto Pago               1
4400000 · NOP - Pronto Pago                     1
Total 4300004 · DES -  Venta Comercializados    1
4300004 · DES -  Venta Comercializados          1
Total 4300003 · DES -  Venta Snacks             1
4300003 · DES -  Venta Snacks                   1
Total 4300001 · DES -  Venta Salsas             1
4300001 · DES -  Venta Salsas                   1
Total 4200003 · DEV -  Venta Comercializados    1
4200003 · DEV -  Venta Comercializados          1
Total 4200002 · DEV -  Venta Snack              1
4200002 · DEV -  Venta Snack                    1
Total 4200001 · DEV -  Venta Salsas             1
4200001 · DEV -  Venta Salsas                   1
Total 4100003 · ING - Ventas Comercializados    1
4100003 · ING - Ventas Comercializados          1
Total 4100002 · ING - Ventas Snacks             1
4100002 · ING - Ventas Snacks                   1
Total 4400006 · NOP - Cadena De Valor           1
Name: Unnamed: 2, dtype: int64

In [ ]:
df['Unnamed: 3'].value_counts()

Series([], Name: Unnamed: 3, dtype: int64)

# Partimos en la depuracion del dataframe eliminando las filas que contienen los totales de las cuentas, en este caso las columnas Unnamed: 0,1,2,3. Adicionalmente eliminamos las variables con datos irrelevantes o repetidos en las columnas de Item Description y Memo, se utiliza solo la variable de Item despues de haber acordado con Vero.

In [ ]:
df.drop(columns = ['Unnamed: 0','Unnamed: 1','Unnamed: 2','Unnamed: 3','Balance','Item Description','Memo','Num'], inplace = True)

Despues eliminamos los valores de estas columas en el resto del data frame por medio de los valores vacios en la columna de Tipo, la cual a su vez se refiere al tipo de transaccion, ya sea nota de credito , debito, ventas, entre otros.

In [ ]:
df['Type'].value_counts()
# Invoice: Facturas de venta
# Bill: Facturas de compra 
# Credit: Notas de credito de proveedores emitidas a Ole 
# Credit Memo: Notas de credito emitidas 
# las Filas de General Journal, Paycheck, Inventory Adjust, Payment, se eliminan ya que no aportan valor estadistico. 
# hay descuentos que llegan por notas de credito y no se atan por codigo o por numero,

Invoice             59971
Credit Memo          5022
Bill                 1268
General Journal       893
Credit                  8
Paycheck                8
Inventory Adjust        1
Payment                 1
Name: Type, dtype: int64

In [ ]:
df['Type'].isna().sum()

37

In [ ]:
df=df[df['Type'].isin(['Invoice','Credit Memo','Bill','Credit'])]

In [ ]:
df['Type'].isna().sum()

0

In [ ]:
df['Account'].value_counts()

4100001 · ING - Ventas  Salsas            37885
4100002 · ING - Ventas Snacks              8776
4100003 · ING - Ventas Comercializados     8523
4300001 · DES -  Venta Salsas              4683
4200001 · DEV -  Venta Salsas              1680
4300004 · DES -  Venta Comercializados     1393
4300003 · DES -  Venta Snacks              1206
4200002 · DEV -  Venta Snack               1163
4200003 · DEV -  Venta Comercializados      544
4400001 · NOP -  Servicio de Logistica      321
4400005 · NOP - Recup. Reciclaje             53
4400004 · NOP - Otros Ingresos               24
4400000 · NOP - Pronto Pago                  15
4400006 · NOP - Cadena De Valor               3
Name: Account, dtype: int64

In [ ]:
# Revanamos la base de datos para solo considerar Ventas y descuentos.
df=df[df['Account'].isin(['4100001 · ING - Ventas  Salsas','4100002 · ING - Ventas Snacks','4100003 · ING - Ventas Comercializados','4300001 · DES -  Venta Salsas','4300004 · DES -  Venta Comercializados','4300003 · DES -  Venta Snacks'])]
# no se considera descuento por pronto pago por ser transacciones al momento de compra y no descuentos planeados

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62466 entries, 2 to 66616
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Account  62466 non-null  object
 1   Type     62466 non-null  object
 2   Date     62466 non-null  datetime64[ns]
 3   Name     62466 non-null  object
 4   Item     62466 non-null  object
 5   Code     62309 non-null  object
 6   Qty      62466 non-null  float64
 7   U/M      55184 non-null  object
 8   Debit    10883 non-null  float64
 9   Credit   51583 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 5.2+ MB

In [ ]:
df.head()

,Account,Type,Date,Name,Item,Code,Qty,U/M,Debit,Credit
2,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110213 (AJÍ ANDINO A LAS FINAS HIERBAS 250G),110213,1.0,[X 12],NaN,19.92
3,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110700 (CHIMICHURRI OLE 230G),110700,1.0,[X 12],NaN,24.96
4,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110714 (SALSA PARA SPAGHETTI RUSTICA OLE 4...,110714,1.0,[X 12],NaN,32.76
5,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110606 (JALAPEÑO ROJOS Y VERDES AGRIDULCES...,110606,2.0,[X 12],NaN,38.16
6,4100001 · ING - Ventas Salsas,Invoice,2019-07-01,GERARDO ORTIZ E HIJOS CIA. LTDA.,P.T:110700 (CHIMICHURRI OLE 230G),110700,1.0,[X 12],NaN,24.96

In [ ]:
# Homologamos los datos de la variable de unidad de manejo para dar relevancia estadistica cuantitativa.E imputamos los vacios con 1
df['U/M'].value_counts()

X12       28346
UN        11864
X24        5478
[X 12]     3865
[X 24]     1412
[UNI]      1137
X 6         757
[UNID]      657
X6          495
X10         262
[x 12]      222
[X 6]       166
X48         161
X30         131
[X 48]       59
X4           45
[X 2]        32
[x24]        18
[X 1]        18
[x10]        14
[X 30]       13
X7           11
 UN          10
X8            4
X 12          2
[Gl]          2
X 1           1
[x12]         1
X 24          1
Name: U/M, dtype: int64

In [ ]:
df["U/M"].replace({"X12": "12", "UN": "1", "X24": "24", "[X 12]": "12",
                   "[X 24]": "24", "[UNI]": "1", "X 6": "6", "[UNID]": "1", "X6": "6",
                   "X10": "10", "[x 12]": "12", "[X 6]": "6", "X48": "48", "X30": "30", "[X 48]": "48",
                   "X4": "4", "[X 2]": "2", "[x24]": "24", "[X 1]": "1", "[x10]": "10", "[X 30]": "30", "X7": "7", " UN": "1", "X8": "8"
                   , "X 12": "12", "[Gl]": "1", "X 1": "1", "[x12]": "12", "X 24": "24"}, inplace=True)

In [ ]:
df['U/M'].value_counts()

12    32436
1     13689
24     6909
6      1418
10      276
48      220
30      144
4        45
2        32
7        11
8         4
Name: U/M, dtype: int64

In [ ]:
df['U/M']=df['U/M'].fillna(1)

In [ ]:
# imputamos los Nan de Debit and Credit con ceros para aportar relevancia estad'istica: 
df['Debit']=df['Debit'].fillna(0)
df['Credit']=df['Credit'].fillna(0)

In [ ]:
df.info()
# Base de Datos imputada y limpia con relevancia estadistica lista para hacer predicciones.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62466 entries, 2 to 66616
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Account  62466 non-null  object
 1   Type     62466 non-null  object
 2   Date     62466 non-null  datetime64[ns]
 3   Name     62466 non-null  object
 4   Item     62466 non-null  object
 5   Code     62309 non-null  object
 6   Qty      62466 non-null  float64
 7   U/M      62466 non-null  object
 8   Debit    62466 non-null  float64
 9   Credit   62466 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 5.2+ MB

In [ ]:
df['Qty']=df['Qty'].apply(pd.to_numeric,errors='coerce')
df['U/M']=df['U/M'].apply(pd.to_numeric,errors='coerce')

In [ ]:
df['Account'].value_counts()

4100001 · ING - Ventas  Salsas            37885
4100002 · ING - Ventas Snacks              8776
4100003 · ING - Ventas Comercializados     8523
4300001 · DES -  Venta Salsas              4683
4300004 · DES -  Venta Comercializados     1393
4300003 · DES -  Venta Snacks              1206
Name: Account, dtype: int64

In [ ]:
# Se eliminan los descuentos correspondientes a empaques siendo estos valores atipicos de 10 centavos que no aprotan relevancia estadistica
# Define Index for the drop condition:
Cleaning=df[df['Code']=='M.E:13'].index

# rewrite the dataframe Drop Rows using the condition 

df=df.drop(Cleaning)

##Notese que no se eliminan los descuentos por acuerdos con mayoristas a pesar de no poderlos ligar con un codigo a una venta ya que estos pueden representar relevancia estad'istica en las predicciones. 
##Notese tambien que al no poder ligar estos descuentos, no se puede aportar valor a las correlaciones de acuerdo a producto pero si por cliente.

In [ ]:
df.info()
# DataSet limpio e imputado, la columna de Debito corresponde a los descuentos

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62456 entries, 2 to 66616
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Account  62456 non-null  object
 1   Type     62456 non-null  object
 2   Date     62456 non-null  datetime64[ns]
 3   Name     62456 non-null  object
 4   Item     62456 non-null  object
 5   Code     62299 non-null  object
 6   Qty      62456 non-null  float64
 7   U/M      62456 non-null  int64
 8   Debit    62456 non-null  float64
 9   Credit   62456 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 5.2+ MB

In [ ]:
df['Type'].value_counts()
# podemos apreciar que no existen ya las entradas de Credit, se filtraron al momento de filtrar por account
# por lo tanto el segundo filtro es por tipo de documento: Invoice, Credit Memo y Bill

Invoice        59555
Credit Memo     1637
Bill            1264
Name: Type, dtype: int64

In [ ]:
df = df.dropna(how = 'any')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62299 entries, 2 to 66616
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Account  62299 non-null  object
 1   Type     62299 non-null  object
 2   Date     62299 non-null  datetime64[ns]
 3   Name     62299 non-null  object
 4   Item     62299 non-null  object
 5   Code     62299 non-null  object
 6   Qty      62299 non-null  float64
 7   U/M      62299 non-null  int64
 8   Debit    62299 non-null  float64
 9   Credit   62299 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 5.2+ MB

# PREDICCIONES

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [ ]:
df = pd.get_dummies(df, columns = ['Name'])

In [ ]:
df = pd.get_dummies(df, columns = ['Item'])

In [ ]:
df = pd.get_dummies(df, columns = ['Type'])

In [ ]:
df = pd.get_dummies(df, columns = ['Account'])

In [ ]:
df.head()

,Date,Code,Qty,U/M,Debit,Credit,Name_ACOSTA JAYA CARLOS ANDRES,Name_AGRICOLA KOMUNA S.A. AGRIKOMUNA,Name_AGUILAR HERRERA HUGO PAUL,Name_AKD INC.,...,Item_SERV:344:V&M - SNK Recuperación Desc.SMX (Participación Supermaxi),Type_Bill,Type_Credit Memo,Type_Invoice,Account_4100001 · ING - Ventas Salsas,Account_4100002 · ING - Ventas Snacks,Account_4100003 · ING - Ventas Comercializados,Account_4300001 · DES - Venta Salsas,Account_4300003 · DES - Venta Snacks,Account_4300004 · DES - Venta Comercializados
2,2019-07-01,110213,1.0,12,0.0,19.92,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
3,2019-07-01,110700,1.0,12,0.0,24.96,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
4,2019-07-01,110714,1.0,12,0.0,32.76,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
5,2019-07-01,110606,2.0,12,0.0,38.16,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
6,2019-07-01,110700,1.0,12,0.0,24.96,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [ ]:
X = df.drop(columns = ['Date','Code'])
X.shape

(62299, 541)

In [ ]:
y = df.loc[:, 'Credit']
y.shape

(62299,)

In [ ]:
np.any(np.isnan(X))
np.all(np.isfinite(X))

True

In [ ]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62299 entries, 2 to 66616
Columns: 543 entries, Date to Account_4300004 · DES -  Venta Comercializados
dtypes: datetime64[ns](1), float64(3), int64(1), object(1), uint8(537)
memory usage: 35.2+ MB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 3)

In [ ]:
Random_Forest = RandomForestRegressor(n_estimators=1)
Random_Forest.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1)

In [ ]:
Random_Forest.score(X_train, y_train)

0.9975658700088315

In [ ]:
Random_Forest.score(X_test, y_test)

0.9975325033791579

Null Model

In [ ]:
pd.DataFrame(y_train).value_counts(normalize=True)

Credit
0.00        0.172139
30.48       0.011900
33.60       0.009738
19.08       0.009353
25.68       0.008625
              ...
191.04      0.000021
190.56      0.000021
189.72      0.000021
189.36      0.000021
23362.56    0.000021
Length: 3441, dtype: float64

In [ ]:
estimator_range = [1] + list(range(10, 310, 10))
estimator_range

[1,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290,
 300]

In [ ]:
#clf = RandomForestRegressor(n_estimators=10,
#                                 random_state=1,
#                                 bootstrap=True)
# Lista para almacenar las precisiones promedio para cada valor de n_estimators:
#scores = []
# Use la división entrenamiento prueba con cada valor de n_estimators (Advertencia: ¡Lento!)
#for estimator in estimator_range:
#    clf = RandomForestRegressor(n_estimators=estimator,
#                                 random_state=1,
#                                 bootstrap=True)
#    clf.fit(X_train, y_train)
#    scores.append(clf.score(X_test, y_test))

In [ ]:
#fig, axes = plt.subplots(nrows = 1, ncols = 1, figsize = (5,5));
#axes.plot(estimator_range, scores);
#axes.set_xlabel('n_estimators', fontsize =20);
#axes.set_ylabel('Accuracy', fontsize = 20);
#axes.grid()

In [ ]:
#Bestimator = pd.DataFrame(scores)
#Bestimator = Bestimator.set_axis(['scores'], axis=1, inplace=False)
#Bestimator

In [ ]:
#Bestimator.sort_values(by='scores', ascending=False, inplace= True)
#Bestimator

In [ ]:
#estimator_range[:20]

KNN

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
# Transform 
X = scaler.transform(X);

In [ ]:
# We assign the KNN model to a variable
Knn = KNeighborsRegressor(n_neighbors=5)
print(Knn)

KNeighborsRegressor()

In [ ]:
Knn.fit(X_train, y_train)

KNeighborsRegressor()

In [ ]:
score = Knn.score(X_train, y_train)
score

0.9979836183048236

In [ ]:
score2 = Knn.score(X_test, y_test)
score2

0.9991776793273106

In [ ]:
scaler.fit(X)
X = scaler.transform(X)

In [ ]:
# then we let the KNN Study the training data set 
Knn.fit(X,y)

KNeighborsRegressor()

In [ ]:
# And do the predictions considering the correlation of all the features of the training data set
predictions = Knn.predict(X)
predictions.shape

(62299,)

In [ ]:
predictions

array([19.92, 24.96, 32.76, ...,  0.  ,  0.  ,  0.  ])

In [ ]:
df['prediction'] = pd.Series(predictions)

dfout = pd.merge(df,df['prediction'].dropna() .to_frame(),how = 'left',left_index = True,   right_index = True)

In [ ]:
dfout.head()

,Date,Code,Qty,U/M,Debit,Credit,Name_ACOSTA JAYA CARLOS ANDRES,Name_AGRICOLA KOMUNA S.A. AGRIKOMUNA,Name_AGUILAR HERRERA HUGO PAUL,Name_AKD INC.,...,Type_Credit Memo,Type_Invoice,Account_4100001 · ING - Ventas Salsas,Account_4100002 · ING - Ventas Snacks,Account_4100003 · ING - Ventas Comercializados,Account_4300001 · DES - Venta Salsas,Account_4300003 · DES - Venta Snacks,Account_4300004 · DES - Venta Comercializados,prediction_x,prediction_y
2,2019-07-01,110213,1.0,12,0.0,19.92,0,0,0,0,...,0,1,1,0,0,0,0,0,32.76,32.76
3,2019-07-01,110700,1.0,12,0.0,24.96,0,0,0,0,...,0,1,1,0,0,0,0,0,38.16,38.16
4,2019-07-01,110714,1.0,12,0.0,32.76,0,0,0,0,...,0,1,1,0,0,0,0,0,24.96,24.96
5,2019-07-01,110606,2.0,12,0.0,38.16,0,0,0,0,...,0,1,1,0,0,0,0,0,60.72,60.72
6,2019-07-01,110700,1.0,12,0.0,24.96,0,0,0,0,...,0,1,1,0,0,0,0,0,32.88,32.88

In [ ]:
dfout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62299 entries, 2 to 66616
Columns: 545 entries, Date to prediction_y
dtypes: datetime64[ns](1), float64(5), int64(1), object(1), uint8(537)
memory usage: 38.2+ MB

In [ ]:
dfout.tail()

,Date,Code,Qty,U/M,Debit,Credit,Name_ACOSTA JAYA CARLOS ANDRES,Name_AGRICOLA KOMUNA S.A. AGRIKOMUNA,Name_AGUILAR HERRERA HUGO PAUL,Name_AKD INC.,...,Type_Credit Memo,Type_Invoice,Account_4100001 · ING - Ventas Salsas,Account_4100002 · ING - Ventas Snacks,Account_4100003 · ING - Ventas Comercializados,Account_4300001 · DES - Venta Salsas,Account_4300003 · DES - Venta Snacks,Account_4300004 · DES - Venta Comercializados,prediction_x,prediction_y
66612,2022-06-29,310110,1.0,1,1.32,0.0,0,0,0,0,...,0,1,0,0,0,0,0,1,NaN,NaN
66613,2022-06-29,310111,1.0,1,1.39,0.0,0,0,0,0,...,0,1,0,0,0,0,0,1,NaN,NaN
66614,2022-06-29,310106,1.0,1,1.94,0.0,0,0,0,0,...,0,1,0,0,0,0,0,1,NaN,NaN
66615,2022-06-29,311501,1.0,1,1.53,0.0,0,0,0,0,...,0,1,0,0,0,0,0,1,NaN,NaN
66616,2022-06-29,311407,1.0,1,3.91,0.0,0,0,0,0,...,0,1,0,0,0,0,0,1,NaN,NaN

### Prediccion de descuentos:

In [ ]:
yd = df.loc[:, 'Debit']
yd.shape

(62299,)

In [ ]:
X_traind, X_testd, y_traind, y_testd = train_test_split(X, yd, random_state = 3)

In [ ]:
Knn.fit(X_traind, y_traind)

KNeighborsRegressor()

In [ ]:
scored = Knn.score(X_traind, y_traind)
scored

In [ ]:
score2d = Knn.score(X_testd, y_testd)
score2d

In [ ]:
# then we let the KNN Study the training data set 
Knn.fit(X,yd)

In [ ]:
# And do the predictions considering the correlation of all the features of the training data set
predictionsd = Knn.predict(X)
predictionsd.shape

In [ ]:
predictionsd

In [ ]:
df['predictiond'] = pd.Series(predictionsd)

dfoutd = pd.merge(df,df['predictiond'].dropna() .to_frame(),how = 'left',left_index = True,   right_index = True)

In [ ]:
dfoutd.head()

In [ ]:
dfoutd.drop(columns = ['predictiond_x'], inplace = True)
dfoutd.info()

In [ ]:
#dfoutd = dfoutd.dropna(how = 'any')
#dfoutd.info()

In [ ]:
dfoutd.tail()

In [ ]:
# determining the name of the file
#PrediccionesOle2022 = 'Dfoutd.xlsx'
  
# saving the excel
#dfoutd.to_excel(PrediccionesOle2022)

# Writer method

writer=pd.ExcelWriter(r'dfoutd.xlsx')

dfoutd.to_excel(writer,sheet_name='Predicciones',index= False)

writer.save()

As soon as we applied the Dummies method to the Categorical variables corresponding to the suppliers and the product names, we improved the models and reduced the overfit